{% extends "basepage.html" %}
{% block title %}{{ super() }} - Leaderboard{% endblock %}

{% block content %}
  <h1>Leaderboard</h1>

  {% if users %}
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Username</th>
          <th>Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {# sort by balance descending #}
        {% for user in users|sort(attribute='balance', reverse=True) %}
        <tr>
          <td>
            {{ loop.index }}
          </td>
          <td>
            {{ user.username }}
          </td>
          <td>
            ${{ "{:,.2f}".format(user.balance) }}
          </td>
          <td>
            <a href="{{ url_for('users.user', user_id=user._id) }}"
              >
              View Profile
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No users to display.</p>
  {% endif %}
{% endblock %}