{% extends "basepage.html" %}
{% block title %}{{ super() }} - Markets{% endblock %}

{% block content %}
<h1>Markets</h1>
{% for market in markets %}
<div class="bg-white shadow-md rounded-lg p-6 mb-4">
    <h2 class="text-xl font-semibold mb-2">{{ market.name }}</h2>
    <p class="text-gray-600 mb-4">{{ market.description }}</p>
    <a href="{{ url_for('markets.detail', market=market._id) }}" class="text-blue-500 hover:underline">View Details</a>
</div>
{% endfor %}
{% if user.admin %}
<br>
<a href="{{ url_for('markets.create') }}">Create Market</a>
{% endif %}
{% endblock %}