{% extends "basepage.html" %}
{% block title %}{{ super() }} - Markets{% endblock %}

{% block content %}
  <h1>Markets</h1>

  {% for market in markets %}
    <div>
      <h2>{{ market.title }}</h2>
      <p>{{ market.description }}</p>

      <p>
        <strong>Favorite:</strong>
        {{ market.topOutcome }}
        at {{ "%.2f"|format(market.topProbability * 100) }}%
      </p>

      <a href="{{ url_for('markets.market', market_id=market._id) }}"
        >
        View Details
      </a>
    </div>
    <hr>
  {% else %}
    <p>No markets to show.</p>
  {% endfor %}

  {% if account.admin %}
    <br>
    <a href="{{ url_for('markets.create') }}">Create Market</a>
  {% endif %}
{% endblock %}