{% extends "basepage.html" %}
{% import "components/button.html" as button %}

{% block title %}{{ super() }} - Register{% endblock %}

{% block content %}
<div class="flex items-center">
    <i data-feather="user-plus" class="w-6 h-6 mr-2 stroke-3"></i>
    <h1 class="m-0 text-3xl font-extrabold">Register</h1>
</div>
<p class="text-gray-600 mt-2">Already have an account? <a href="{{ url_for('auth.login') }}" class="text-blue-500 hover:underline">Login here</a>.</p>
<form method="POST" class="mt-4 max-w-2xl flex flex-col gap-2" action="{{ url_for('auth.register') }}">
    <div class="flex flex-col">
        <label for="username" class="uppercase text-gray-500 text-sm font-bold">Username</label>
        <input type="text" id="username" name="username" required class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
    <div class="flex flex-col">
        <label for="password" class="uppercase text-gray-500 text-sm font-bold">Password</label>
        <input type="password" id="password" name="password" required class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
    <div class="flex flex-col">
        <label for="confirm_password" class="uppercase text-gray-500 text-sm font-bold">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" required class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
    <button type="submit">
        {{ button.button("Register", url='#', class='bg-blue-400 hover:bg-blue-600 w-full') }}
    </button>
</form>
{% endblock %}