<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Griffith Punters Club{% endblock %}</title>

    {% block scripts %}
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
        // Activate Feather Icons
        document.addEventListener("DOMContentLoaded", function() {
            feather.replace();
        });
    </script> -->
    {% endblock %}
</head>
<body>
    {% include "components/navbar.html" %}
    <!-- messages (flask.flash) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- content -->
    {% block content %}{% endblock %}
</body>
</html>