<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Griffith Punters Club{% endblock %}</title>

    {% block scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/williamjaackson/jaackson-scripts@main/nomobile.js"></script>
    {% endblock %}

    {% block styles %}
    {% endblock %}

</head>
<body class="flex h-screen bg-slate-100 text-gray-900">
    <!-- overlay that says you cant use mobile -->
    {% block body %}
    <!-- Sidebar -->
    {% include "components/sidebar.html" %}
    <main class="flex-1 p-6 bg-white shadow-md">
        {% block content %}
        {% endblock %}
    </main> 
    {% endblock %}
</body>
</html>