{% import "components/button.html" as button %}
<!-- <p>
    Logged in as: 
    {% if account %}
    <a href="{{ url_for('users.user', user_id=account.get('_id')) }}">
        {{ account.username }}
    </a>
    {% else %}
    <span>[none]</span>
    {% endif %}
</p>
<nav>
    <a href="{{ url_for('markets.markets') }}">Markets</a>
    <a href="{{ url_for('auth.login') }}">Login</a>
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    <a href="{{ url_for('users.users') }}">Users</a>
</nav> -->
<aside class="fixed top-0 left-0 h-full w-64 flex flex-col p-2">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const url = window.location.pathname;
            const links = document.querySelectorAll('nav a');
            links.forEach(link => {
                if (link.getAttribute('href') === url && link.dataset.ignore !== 'true') {
                    link.classList.add('bg-gradient-to-br', 'from-red-400', 'to-red-600', 'text-white');
                }
            });
        });
    </script>  
    <nav class="h-full">
        <div class="h-full bg-white rounded-lg shadow-md flex flex-col">
            <div class="p-4">
                <div class="flex items-center gap-2">
                    <div class="w-10 h-10 bg-gradient-to-br from-red-400 to-red-600 rounded-xl flex items-center justify-center shadow-lg">
                        <span class="text-white font-bold text-lg">GP</span>
                    </div>
                    <div class="flex flex-col">
                        <h1 class="text-xl font-bold text-gray-900 leading-tight">Griffith Punters</h1>
                        <p class="text-gray-500 text-sm leading-tight">Gamble on Uni Life</p>
                    </div>
                </div>
                <!-- <hr class="border-gray-200 my-4"> -->
                <div class="flex flex-col gap-2 mt-8">
                    <!-- <p class="text-gray-600 text-xs uppercase font-bold">Navigation</p> -->
                    <div class="flex flex-col gap-2">
                        <a href="{{ url_for('markets.markets' )}}" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:bg-gray-100 transition-colors">
                            <i data-feather="shopping-cart"></i>
                            <span class="font-medium">Markets</span>
                        </a>
                        <a href="{{ url_for('users.users' )}}" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:bg-gray-100 transition-colors">
                            <i data-feather="award" class="w-5 h-5"></i>
                            <span class="font-medium">Leaderboard</span>
                        </a>
                        <a href="{{ url_for('about' )}}" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:bg-gray-100 transition-colors">
                            <i data-feather="info" class="w-5 h-5"></i>
                            <span class="font-medium">About</span>
                        </a>
                        <!-- <hr>
                        <a href="{{ url_for('auth.login' )}}" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:bg-gray-100 transition-colors">
                            <i data-feather="log-in" class="w-5 h-5"></i>
                            <span class="font-medium">Login</span>
                        </a>
                        <a href="{{ url_for('auth.register' )}}" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:bg-gray-100 transition-colors">
                            <i data-feather="user-plus" class="w-5 h-5"></i>
                            <span class="font-medium">Register</span>
                        </a>
                        <a href="{{ url_for('auth.logout' )}}" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:bg-gray-100 transition-colors">
                            <i data-feather="log-out" class="w-5 h-5"></i>
                            <span class="font-medium">Logout</span>
                        </a> -->
                    </div>
                </div>
            </div>
            {% if account %}
            <!-- logout button -->
            
            <a data-ignore="true" class="mt-auto flex hover:bg-slate-100 m-2 p-2 rounded-lg" href="{{ url_for('users.user', user_id=account.get('_id')) }}">
                <div class="w-10 h-10 bg-gradient-to-br from-gray-400 to-gray-600 rounded-xl flex items-center justify-center shadow-lg">
                    <span class="text-white font-bold text-md">{{ account.username.upper()[0:2] }}</span>
                </div>
                <div class="ml-2 flex flex-col my-auto">
                    <p class="text-gray-900 font-bold leading-tight">{{ account.username }}</p>
                    <p class="text-gray-500 text-sm leading-tight">{% if account.admin %}Admin{% else %}Student{% endif %} Account</p>
                </div>
            </a>
            {% else %}
            <div class="mt-auto m-4">
                <a href="{{ url_for('auth.login') }}" class="flex items-center gap-2 px-4 py-2 rounded-lg hover:bg-gray-100 transition-colors">
                    <i data-feather="log-in" class="w-5 h-5"></i>
                    <span class="font-medium">Login</span>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>  
</p>
</aside>
